/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; 
    color: #333; 
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 2%  0 0 2% ;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Main container styling */
.done-main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #5b94e5; 
}

header a{
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 1.2rem;
}

header a:hover{
    color: #4545f4;
}



/* Button styling */
.clear-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff; 
    background-color: #5b94e5; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; 
    transition: background-color 0.3s;
}

.clear-button:hover {
    background-color: #4a7bbf; 
}

/* Task list styling */
.tasks {
    list-style-type: none; 
}

.tasks li {
    background-color: #e8f4fa; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Remove icon styling */
.remove-icon {
    width: 40px; 
    height: auto; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.remove-icon:hover {
    transform: scale(1.1); 
}



/*when tolggeled */


        /* Dark Theme Styles */
        .dark-theme {
            background-color: #2c3e50;
            color: #ecf0f1; 
        }

        .dark-theme header a{
            color: white;
        }

        .dark-theme .done-main {
            background-color: #34495e; 
            color: #ecf0f1; 
        }

        .dark-theme .done h1{
            color: white;
        }

        .dark-theme input[type="text"] {
            background-color: #7f8c8d; 
            border: 1px solid #95a5a6; 
            color: #ecf0f1; 
        }

        .dark-theme button {
            background-color: #2980b9; 
        }

        .dark-theme .tasks li span{
            color: white;
        }

        .dark-theme .tasks li{
            background-color: black;
        }

        .dark-theme .add-to-complete-button {
            background-color: #27ae60; 
        }

        .dark-theme input[type="text"]{
            color: black;
        }
       
