/* Global styles */
body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Swiper Section */
.swiper {
    width: 80%;
    margin: 2% auto;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Pagination */
.swiper-pagination {
    margin-top: 10px;
}

/* Details Section */
#details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 5%;
}

#details div {
    width: 45%;
    margin: 1rem 0;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    border-bottom: 4px solid #1e90ff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#ratings {
    color: #ff9800;
}

#ratings p {
    font-size: 1.2rem;
    font-weight: bold;
}

#productName {
    font-size: 1.6rem;
    font-weight: bold;
}

#productPrice {
    font-size: 1.4rem;
    color: #007BFF;
    font-weight: bold;
}

#infos, #availability, #brand {
    color: #555;
}

#brand img{
    width: 100%;
}

/* Input & Select Styling */
input[type="number"], select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1rem;
}

select {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Buttons Styling */
button, .add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

button:hover, .add-to-cart-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

button:active, .add-to-cart-btn:active {
    transform: translateY(0);
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .swiper {
        width: 90%;
    }

    #details {
        flex-direction: column;
        padding: 15px;
    }

    #details div {
        width: 100%;
    }

    #productName {
        font-size: 1.4rem;
    }

    .swiper-slide img {
        object-fit: cover;
    }

    .add-to-cart-btn {
        width: 100%;
    }
}

/* Scroll Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#details div {
    animation: fadeIn 1s ease-out;
}


footer i{
    font-size: calc(2rem + 2vh);
    margin: 1rem;
}

footer {
    background-color: #9c989862;
    color: #000000;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
